# Data cleaning and feature engineering

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# read the dataframe
data_load_path = '../data/raw/' 
data_load_name = '50.861781_4.457452_Solcast_PT60M.csv'
df = pd.read_csv(data_load_path + data_load_name)

In [3]:
# printout the column names
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'Azimuth',
       'CloudOpacity', 'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi',
       'GtiFixedTilt', 'GtiTracking', 'PrecipitableWater', 'RelativeHumidity',
       'SnowWater', 'SurfacePressure', 'WindDirection10m', 'WindSpeed10m',
       'Zenith', 'AlbedoDaily'],
      dtype='object')

In [4]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [5]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
10882,2020-03-28T12:00:00Z,2020-03-28T11:00:00Z,13.2,196,670,642,12.4,51.1,1015.9,36,6.8
9972,2020-02-19T14:00:00Z,2020-02-19T13:00:00Z,7.5,218,219,309,8.3,60.7,1015.3,258,6.6
23595,2021-09-09T05:00:00Z,2021-09-09T04:00:00Z,17.7,0,0,0,37.3,88.8,1002.7,192,2.6
23975,2021-09-25T01:00:00Z,2021-09-25T00:00:00Z,13.7,0,0,0,26.9,95.4,1009.6,221,3.5
10066,2020-02-23T12:00:00Z,2020-02-23T11:00:00Z,13.0,32,0,32,25.7,76.6,1007.0,247,13.1
3830,2019-06-08T16:00:00Z,2019-06-08T15:00:00Z,17.0,185,400,443,17.3,59.0,1012.9,234,9.3
23470,2021-09-04T00:00:00Z,2021-09-03T23:00:00Z,14.7,0,0,0,19.1,90.1,1011.3,63,3.3
10449,2020-03-10T11:00:00Z,2020-03-10T10:00:00Z,11.1,124,0,124,28.8,93.8,999.5,248,8.0
20200,2021-04-20T18:00:00Z,2021-04-20T17:00:00Z,13.4,73,155,104,13.6,60.6,1009.2,28,1.9
16101,2020-10-31T23:00:00Z,2020-10-31T22:00:00Z,11.3,0,0,0,14.8,87.5,1008.2,224,3.5

In [6]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [7]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,8.2,0,0,0,15.5,98.3,1023.9,283,3.4
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,8.0,0,0,0,15.0,98.1,1024.0,284,3.6
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,7.9,0,0,0,14.5,98.0,1024.0,286,3.6
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,7.8,0,0,0,14.0,98.0,1024.0,288,3.5
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,7.8,0,0,0,13.6,98.1,1024.0,291,3.4

In [8]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      25989 non-null  object
 1   PeriodStart    25989 non-null  object
 2   Temperature    25989 non-null  float64
 3   DHI            25989 non-null  int64
 4   DNI            25989 non-null  int64
 5   Radiation      25989 non-null  int64
 6   Precipitation  25989 non-null  float64
 7   Humidity       25989 non-null  float64
 8   Pressure       25989 non-null  float64
 9   WindDirection  25989 non-null  int64
 10  WindSpeed      25989 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [9]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

c:\users\rag\appdata\local\programs\python\python39\lib\site-packages\pandas\core\arrays\datetimes.py:1143: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [10]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      25989 non-null  datetime64[ns]
 1   PeriodStart    25989 non-null  datetime64[ns]
 2   Temperature    25989 non-null  float64
 3   DHI            25989 non-null  int64
 4   DNI            25989 non-null  int64
 5   Radiation      25989 non-null  float64
 6   Precipitation  25989 non-null  float64
 7   Humidity       25989 non-null  int32
 8   Pressure       25989 non-null  float64
 9   WindDirection  25989 non-null  float64
 10  WindSpeed      25989 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [11]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,8.2,0,0,0.0,15.5,98,1023.9,283.0,3.4
1,2018-12-31 03:00:00,2018-12-31 02:00:00,8.0,0,0,0.0,15.0,98,1024.0,284.0,3.6
2,2018-12-31 04:00:00,2018-12-31 03:00:00,7.9,0,0,0.0,14.5,98,1024.0,286.0,3.6
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.8,0,0,0.0,14.0,98,1024.0,288.0,3.5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.8,0,0,0.0,13.6,98,1024.0,291.0,3.4
5,2018-12-31 07:00:00,2018-12-31 06:00:00,7.7,0,0,0.0,13.1,98,1024.2,293.0,3.2

In [12]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [13]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,8.2,0,0,0.0,15.5,98,1023.9,283.0,3.4,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,8.0,0,0,0.0,15.0,98,1024.0,284.0,3.6,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,7.9,0,0,0.0,14.5,98,1024.0,286.0,3.6,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.8,0,0,0.0,14.0,98,1024.0,288.0,3.5,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.8,0,0,0.0,13.6,98,1024.0,291.0,3.4,2018,2018,12,12,5,6

In [14]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [15]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
0,2018-12-31 02:00:00,2018-12-31 01:00:00,8.2,0,0,0.0,15.5,98,1023.9,283.0,3.4,2018,2018,12,12,1,2,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,8.0,0,0,0.0,15.0,98,1024.0,284.0,3.6,2018,2018,12,12,2,3,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,7.9,0,0,0.0,14.5,98,1024.0,286.0,3.6,2018,2018,12,12,3,4,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,7.8,0,0,0.0,14.0,98,1024.0,288.0,3.5,2018,2018,12,12,4,5,0
4,2018-12-31 06:00:00,2018-12-31 05:00:00,7.8,0,0,0.0,13.6,98,1024.0,291.0,3.4,2018,2018,12,12,5,6,0

In [16]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [17]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [18]:
df.Sunset.unique()

array([0, '18:00:00', '19:00:00'], dtype=object)

In [19]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      25989 non-null  datetime64[ns]
 1   PeriodStart    25989 non-null  datetime64[ns]
 2   Temperature    25989 non-null  float64
 3   DHI            25989 non-null  int64
 4   DNI            25989 non-null  int64
 5   Radiation      25989 non-null  float64
 6   Precipitation  25989 non-null  float64
 7   Humidity       25989 non-null  int32
 8   Pressure       25989 non-null  float64
 9   WindDirection  25989 non-null  float64
 10  WindSpeed      25989 non-null  float64
 11  YearPS         25989 non-null  int64
 12  YearPE         25989 non-null  int64
 13  MonthPS        25989 non-null  int64
 14  MonthPE        25989 non-null  int64
 15  HourPS         25989 non-null  int64
 16  HourPE         25989 non-null  int64
 17  Sunrise        25989 non-null  object
 18  Sunset         25989 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 3.7+ MB

In [20]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [21]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13915 entries, 7 to 25982
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13915 non-null  datetime64[ns]
 1   PeriodStart    13915 non-null  datetime64[ns]
 2   Temperature    13915 non-null  float64
 3   DHI            13915 non-null  int64
 4   DNI            13915 non-null  int64
 5   Radiation      13915 non-null  float64
 6   Precipitation  13915 non-null  float64
 7   Humidity       13915 non-null  int32
 8   Pressure       13915 non-null  float64
 9   WindDirection  13915 non-null  float64
 10  WindSpeed      13915 non-null  float64
 11  YearPS         13915 non-null  int64
 12  YearPE         13915 non-null  int64
 13  MonthPS        13915 non-null  int64
 14  MonthPE        13915 non-null  int64
 15  HourPS         13915 non-null  int64
 16  HourPE         13915 non-null  int64
 17  Sunrise        13915 non-null  object
 18  Sunset         13915 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 2.1+ MB

In [22]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
8533,2019-12-21 15:00:00,2019-12-21 14:00:00,8.3,49,0,49.0,13.0,80,979.8,190.0,6.2,2019,2019,12,12,14,15,0,0
22539,2021-07-27 05:00:00,2021-07-27 04:00:00,14.7,17,0,17.0,24.7,95,1005.0,201.0,3.6,2021,2021,7,7,4,5,05:00:00,0
16522,2020-11-18 12:00:00,2020-11-18 11:00:00,13.8,53,764,312.0,14.9,65,1014.4,194.0,6.6,2020,2020,11,11,11,12,0,0
12560,2020-06-06 10:00:00,2020-06-06 09:00:00,13.8,325,439,670.0,10.3,54,993.6,248.0,8.3,2020,2020,6,6,9,10,0,0
16644,2020-11-23 14:00:00,2020-11-23 13:00:00,9.5,83,407,175.0,11.5,68,1021.6,180.0,1.8,2020,2020,11,11,13,14,0,0
7061,2019-10-21 07:00:00,2019-10-21 06:00:00,11.9,16,13,17.0,19.3,91,1005.3,146.0,3.8,2019,2019,10,10,6,7,0,0
23200,2021-08-23 18:00:00,2021-08-23 17:00:00,19.7,74,0,74.0,23.7,71,1017.5,35.0,3.9,2021,2021,8,8,17,18,0,18:00:00
17293,2020-12-20 15:00:00,2020-12-20 14:00:00,9.1,48,100,58.0,12.9,80,1010.0,211.0,5.6,2020,2020,12,12,14,15,0,0
22686,2021-08-02 08:00:00,2021-08-02 07:00:00,13.7,101,0,101.0,24.8,91,1007.8,0.0,0.3,2021,2021,8,8,7,8,0,0
21535,2021-06-15 09:00:00,2021-06-15 08:00:00,19.8,164,686,640.0,29.6,70,1014.5,40.0,3.7,2021,2021,6,6,8,9,0,0

In [23]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

C:\Users\Rag\AppData\Local\Temp/ipykernel_10848/3824839280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [24]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [25]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 09:00:00,2018-12-31 08:00:00,7.5,10,0,10.0,12.1,98,1025.0,293.0,2.7,2018,2018,12,12,8,9,0,0,2018-12-31
2018-12-31,2018-12-31 10:00:00,2018-12-31 09:00:00,7.8,41,0,41.0,11.6,97,1025.1,296.0,2.6,2018,2018,12,12,9,10,0,0,2018-12-31
2018-12-31,2018-12-31 11:00:00,2018-12-31 10:00:00,8.4,61,0,61.0,11.2,96,1025.0,300.0,2.9,2018,2018,12,12,10,11,0,0,2018-12-31
2018-12-31,2018-12-31 12:00:00,2018-12-31 11:00:00,8.9,49,0,49.0,10.9,94,1024.8,304.0,3.2,2018,2018,12,12,11,12,0,0,2018-12-31
2018-12-31,2018-12-31 13:00:00,2018-12-31 12:00:00,8.9,37,0,37.0,10.5,93,1024.7,302.0,3.0,2018,2018,12,12,12,13,0,0,2018-12-31

In [26]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13915 entries, 2018-12-31 to 2021-12-17
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13915 non-null  datetime64[ns]
 1   PeriodStart    13915 non-null  datetime64[ns]
 2   Temperature    13915 non-null  float64
 3   DHI            13915 non-null  int64
 4   DNI            13915 non-null  int64
 5   Radiation      13915 non-null  float64
 6   Precipitation  13915 non-null  float64
 7   Humidity       13915 non-null  int32
 8   Pressure       13915 non-null  float64
 9   WindDirection  13915 non-null  float64
 10  WindSpeed      13915 non-null  float64
 11  YearPS         13915 non-null  int64
 12  YearPE         13915 non-null  int64
 13  MonthPS        13915 non-null  int64
 14  MonthPE        13915 non-null  int64
 15  HourPS         13915 non-null  int64
 16  HourPE         13915 non-null  int64
 17  Sunrise        13915 non-null  object
 18  Sunset         13915 non-null  object
 19  Date           13915 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(8), object(2)
memory usage: 2.2+ MB

In [27]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [28]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13915 entries, 2018-12-31 to 2021-12-17
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13915 non-null  datetime64[ns]
 1   PeriodStart      13915 non-null  datetime64[ns]
 2   Temperature      13915 non-null  float64
 3   DHI              13915 non-null  int64
 4   DNI              13915 non-null  int64
 5   Radiation        13915 non-null  float64
 6   Precipitation    13915 non-null  float64
 7   Humidity         13915 non-null  int32
 8   Pressure         13915 non-null  float64
 9   WindDirection    13915 non-null  float64
 10  WindSpeed        13915 non-null  float64
 11  YearPS           13915 non-null  int64
 12  YearPE           13915 non-null  int64
 13  MonthPS          13915 non-null  int64
 14  MonthPE          13915 non-null  int64
 15  HourPS           13915 non-null  int64
 16  HourPE           13915 non-null  int64
 17  Sunrise          13915 non-null  object
 18  Sunset           13915 non-null  object
 19  Date             13915 non-null  datetime64[ns]
 20  Daily_radiation  13915 non-null  float64
 21  Daily_DNI        13915 non-null  float64
 22  Daily_DHI        13915 non-null  float64
 23  Daily_Temp       13915 non-null  float64
 24  Daily_Precip     13915 non-null  float64
 25  Daily_Humidity   13915 non-null  float64
 26  Daily_Pressure   13915 non-null  float64
 27  Daily_WindDir    13915 non-null  float64
 28  Daily_WindSpeed  13915 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(8), object(2)
memory usage: 3.1+ MB

In [29]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [30]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 09:00:00,7.5,10,0,10.0,12.1,98,1025.0,293.0,2.7,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 10:00:00,7.8,41,0,41.0,11.6,97,1025.1,296.0,2.6,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 11:00:00,8.4,61,0,61.0,11.2,96,1025.0,300.0,2.9,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 12:00:00,8.9,49,0,49.0,10.9,94,1024.8,304.0,3.2,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 13:00:00,8.9,37,0,37.0,10.5,93,1024.7,302.0,3.0,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 14:00:00,8.2,43,0,43.0,10.1,94,1024.5,294.0,2.4,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 15:00:00,7.6,15,0,15.0,9.7,95,1024.4,282.0,1.9,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2018-12-31,2018-12-31 16:00:00,7.0,6,0,6.0,9.5,95,1024.3,269.0,1.9,...,2018-12-31,32.75,0.00,32.750,8.0375,10.7000,95.25,1024.7250,292.500,2.5750
2019-01-01,2019-01-01 09:00:00,6.2,13,0,13.0,12.7,94,1021.2,274.0,5.1,...,2019-01-01,37.00,9.75,36.125,6.8625,12.2125,94.25,1020.6875,290.875,5.4375
2019-01-01,2019-01-01 10:00:00,6.4,32,0,32.0,13.0,94,1021.1,276.0,5.2,...,2019-01-01,37.00,9.75,36.125,6.8625,12.2125,94.25,1020.6875,290.875,5.4375

In [31]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13915 entries, 2018-12-31 to 2021-12-17
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13915 non-null  datetime64[ns]
 1   Temperature      13915 non-null  float64
 2   DHI              13915 non-null  int64
 3   DNI              13915 non-null  int64
 4   Radiation        13915 non-null  float64
 5   Precipitation    13915 non-null  float64
 6   Humidity         13915 non-null  int32
 7   Pressure         13915 non-null  float64
 8   WindDirection    13915 non-null  float64
 9   WindSpeed        13915 non-null  float64
 10  MonthPE          13915 non-null  int64
 11  Date             13915 non-null  datetime64[ns]
 12  Daily_radiation  13915 non-null  float64
 13  Daily_DNI        13915 non-null  float64
 14  Daily_DHI        13915 non-null  float64
 15  Daily_Temp       13915 non-null  float64
 16  Daily_Precip     13915 non-null  float64
 17  Daily_Humidity   13915 non-null  float64
 18  Daily_Pressure   13915 non-null  float64
 19  Daily_WindDir    13915 non-null  float64
 20  Daily_WindSpeed  13915 non-null  float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.3 MB

In [32]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [33]:
# show the number of rows and columns available
new_df.shape

(1083, 21)

In [34]:
# 
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 16:00:00,7.0,6,0,6.0,9.5,95,1024.3,269.0,1.9,...,2018-12-31,32.750000,0.000000,32.750000,8.037500,10.700000,95.250000,1024.725000,292.500000,2.575000
2019-01-01,2019-01-01 16:00:00,6.8,9,59,14.0,10.6,93,1020.7,315.0,5.8,...,2019-01-01,37.000000,9.750000,36.125000,6.862500,12.212500,94.250000,1020.687500,290.875000,5.437500
2019-01-02,2019-01-02 16:00:00,3.2,10,33,13.0,7.8,72,1028.6,351.0,3.6,...,2019-01-02,48.555556,8.333333,47.666667,4.188889,7.600000,73.444444,1027.588889,345.111111,4.544444
2019-01-03,2019-01-03 16:00:00,4.1,9,0,9.0,9.3,79,1029.6,352.0,2.6,...,2019-01-03,50.555556,3.333333,50.333333,3.555556,8.977778,80.333333,1029.488889,342.888889,2.533333
2019-01-04,2019-01-04 16:00:00,3.5,6,0,6.0,9.3,79,1027.2,303.0,4.6,...,2019-01-04,53.250000,2.750000,52.500000,3.187500,9.025000,83.250000,1028.237500,314.625000,4.050000
2019-01-05,2019-01-05 16:00:00,4.0,10,0,10.0,8.8,92,1023.9,311.0,5.3,...,2019-01-05,32.500000,0.000000,32.500000,4.950000,10.425000,93.375000,1023.825000,315.000000,5.575000
2019-01-06,2019-01-06 16:00:00,3.7,5,1,5.0,10.0,87,1024.2,305.0,1.6,...,2019-01-06,37.250000,6.125000,36.625000,4.225000,9.600000,89.000000,1024.200000,306.375000,2.700000
2019-01-07,2019-01-07 16:00:00,6.6,5,0,5.0,19.7,92,1019.5,237.0,6.0,...,2019-01-07,42.250000,0.000000,42.250000,5.387500,16.975000,93.875000,1021.950000,242.000000,4.725000
2019-01-08,2019-01-08 16:00:00,4.8,8,0,8.0,10.1,83,1010.3,317.0,8.9,...,2019-01-08,62.000000,16.500000,57.500000,5.812500,10.437500,82.375000,1010.287500,310.000000,9.000000
2019-01-09,2019-01-09 16:00:00,3.2,15,48,19.0,6.7,76,1012.1,354.0,6.2,...,2019-01-09,115.250000,124.375000,85.000000,3.975000,7.250000,80.875000,1011.237500,350.500000,6.625000

In [35]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [36]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [37]:
# print the first 5 rows
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,8.037500,10.700000,95.250000,1024.725000,292.500000,2.575000,0.000000,32.750000,32.750000
2019-01-01,1,2019-01-01,6.862500,12.212500,94.250000,1020.687500,290.875000,5.437500,9.750000,36.125000,37.000000
2019-01-02,1,2019-01-02,4.188889,7.600000,73.444444,1027.588889,345.111111,4.544444,8.333333,47.666667,48.555556
2019-01-03,1,2019-01-03,3.555556,8.977778,80.333333,1029.488889,342.888889,2.533333,3.333333,50.333333,50.555556
2019-01-04,1,2019-01-04,3.187500,9.025000,83.250000,1028.237500,314.625000,4.050000,2.750000,52.500000,53.250000

In [38]:
# show the number of rows and column
final_df.shape

(1083, 11)

In [39]:
# save cleaned dataset
data_save_path = '../data/clean/'
data_save_name = 'cleaned_solar_irradiation.csv'

final_df.to_csv(data_save_path + data_save_name)